.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  z-index: 0;
}

.aboutUs {
  width: 30%;
  text-align: right;

  color: rgb(240, 233, 223);
}

.aboutUs h1 {
  font-family: "Cormorant Upright", serif;

  /* font-size: 50px; */
}
.aboutUs p {
  text-align: right;
  font-family: "Poppins";
  font-size: 12px;
}

.history {
  width: 30%;

  color: rgb(240, 233, 223);
}
.history h1 {
  text-align: left;
  font-family: "Cormorant Upright", serif;
}

.history p {
  text-align: left;
  font-family: "Poppins";
  font-size: 12px;
}

.knife {
  width: 6%;
  margin-left: 15px;
  margin-right: 15px;

  position: relative;
}

.knife img {
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.background {
  position: absolute;
  top: -7%;
  right: -150%;
  font-size: 500px;
  font-family: "Noto Serif KR", serif;
  z-index: -1;
  color: rgb(228, 225, 221);
  opacity: 0.1;
}

@media (max-width: 768px), (min-width: 426px) {
  .about {
    padding-left: 50px;
    padding-right: 50px;
  }

  .background {
    font-size: 300px;
    top: -18%;
    left: -250%;
  }
}

@media (max-width: 426px) {
  .about {
    flex-direction: column;
    height: 100vh;
  }

  .aboutUs {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .knife {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .knife img {
    width: 10%;
    height: 100%;
    transform: rotate(90deg);
  }

  .history {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .background {
    top: 0%;
    left: 22%;
    font-size: 200px;
  }
}
