.findus {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.find {
  padding: 50px;
  width: 50%;
  color: white;
  padding-left: 50px;
  font-family: "Cormorant Upright", serif;
}

.con {
  font-size: 18px;
}

.find h1 {
  margin-top: 20px;
  font-size: 50px;
  color: rgb(220, 204, 114);
}
.find p {
  margin-top: 50px;
  font-size: 20px;
  text-transform: lowercase;
}

.sd {
  margin-top: 20px;
  font-size: 18px;
  color: rgb(220, 204, 114);
}

.find ul {
  margin-top: 20px;
  list-style: none;
  line-height: 22px;
  font-size: 18px;
}
.find div {
  padding: 10px 20px;
  font-weight: 700;
  background: white;
  color: black;
  margin-top: 20px;
  width: fit-content;
}

.ind {
  width: 50%;
}
.ind img {
  width: 70%;
}
