.gallery {
  color: white;
  display: flex;
  background: rgb(16, 15, 15);
  padding-top: 50px;
  padding-bottom: 50px;
}

.photo {
  width: 50%;
  padding-left: 60px;
  padding-top: 30px;
  font-family: "Cormorant Upright", serif;

  padding-right: 20px;
}

.photo h1 {
  margin-top: 20px;
}
.photo p {
  margin-top: 20px;
}

.vuew {
  background: white;
  color: black;
  padding: 10px 20px;
  margin-top: 20px;
  width: fit-content;
  font-weight: 700;
}

.inst {
  /* max-width: ; */
  width: 50%;
  border-left: 1px solid white;
  display: flex;
  /* width: 100%; Set the width as needed, e.g., 100% of the viewport */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap;
  position: relative;
}

.inst::-webkit-scrollbar {
  width: 1%; /* Set the width of the scrollbar (short) */
  background: transparent;
}

.inst img {
  width: 35%;
  padding-left: 20px;
}

.insta {
  position: absolute;
  top: 50%;
  left: 18%;
  opacity: 0.5;
  background: linear-gradient(rgb(164, 43, 43), black);
  /* width: 100%; */
}

.insta:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .inst img {
    width: 50%;
  }
}

@media (max-width: 426px) {
  .gallery {
    flex-direction: column;
  }

  .gallery > * {
    width: 100%;
  }
  .inst {
    margin-top: 50px;
  }
}
