nav {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100vw; */
  color: white;

  padding: 10px 100px;
}
nav img {
  width: 150px;
}

.bar {
  display: none;
}

.links li {
  display: inline;
  padding-left: 30px;
}

.top-right > * {
  padding-left: 5px;
}

@media (max-width: 768px) {
  .disappear {
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
    color: black;
  }

  .disappear li {
    color: black;
  }
  .links {
    display: flex;
    flex-direction: column;
    background: black;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 40%;
    padding-bottom: 30px;
    position: absolute;
    top: 6%;
    left: 59.9%;
    font-size: 22px;
    transition: all 1s ease;
  }

  .links li {
    padding: 0;
    margin-top: 20px;
    border-bottom: 1px solid gainsboro;
  }

  .top-right1 {
    display: flex;
    flex-direction: column;
  }

  .top-right {
    display: none;
  }

  .top-right1 > * {
    margin-top: 20px;
    border-bottom: 1px solid gainsboro;
  }

  .not {
    display: none;
  }

  .bar {
    display: block;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 30px;

    background: white;
    margin: 7px 3.2px;
  }
  .bar1 {
    height: 1px;
  }

  .bar2 {
    height: 2px;
  }

  .bar3 {
    height: 3px;
  }
  .change .bar1 {
    transform: rotate(45deg) translate(10px, -3px);
    height: 3px;
    /* transition: all 1s ease; */
    margin-top: 20px;
    background: black;
    margin-right: 5px;
    /* margin-bottom: 15px; */
  }
  .change .bar2 {
    /* transform: rotate(45deg) translate(10px, 10px); */
    opacity: 0;
  }
  .change .bar3 {
    transform: rotate(-45deg) translate(15px, -4px);
    height: 3px;
    /* transition: all 1s ease; */
    background: black;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
